<link rel="stylesheet" href="/css/agent.css">
<table style="margin-top:340px; text-align: left; margin-bottom: 20px; ">
    <tr>
        <th>영업시간</th>
        <td>
            <% if(agentPrivate === null) { %>
            <p>정보없음</p>
            <% } else { %>
                <%= agentPrivate.a_office_hours %>
            <% } %>
        </td>
    </tr>
    <tr>
        <th>부동산 연락처</th>
        <td>
            <%= agent.telno%>
        </td>
    </tr>
    <tr>
        <th>공인중개사 연락처</th>
        <td>
            <% if(agentPrivate === null) { %>
                <%= agent.telno %>
            <% } else { %>
                <%= agentPrivate.a_phone %>
            <% } %>
        </td>
    </tr>
</table>